<!DOCTYPE html>

        <html>
        <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>{{title}}</title>
        <link href="{{'admin/css/admin.css'|make_media_url}}" rel="stylesheet" type="text/css"/>
        <link href="{{'css/font-awesome.min.css'|make_media_url}}" rel="stylesheet" type="text/css"/>
        </head>
        <body>
        <div id="languages_general">
        </div>
        <div id="logout">
        <a href="">Logout</a>
        </div>

        <div id="center_body">
            <div id="header"><span id="title_phango">Phango</span> <span id="title_framework">Framework!</span> <?php echo $title; ?></div>
            <div class="content_admin">
                <div id="menu">
                    <div class="menu_title">Applications</div>
                </div>
                <div class="contents">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div id="loading_ajax">
        </div>
    </body>
    </html>